<h1>Mapa</h1>
<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" control="map.control" options="map.options" events="maps.events">
  <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords"
  icon="m.icon" idkey="m.id" options="m.options"></ui-gmap-marker>
</ui-gmap-google-map>

<div class="container">
            <br>
            <p>
                <button class="btn btn-primary" ng-click="addCurrentLocation()">Ubicación actual</button>
            </p>
            <h3>Dirección</h3>
            <p>
                <input id="searchBox" type="text" placeholder="Cordoba 1250, Rosario, Santa Fe, Argentina" ng-model="address" class="col-lg-8"/>
                <button class="btn btn-success" ng-click="addAddress()">Buscar</button>
            </p>
</div>
